nod-red-sensor-simulator.json
[{"id":"d9ebf886.77ed28","type":"debug","z":"17778ec4.73ac01","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":474.5278854370117,"y":364.97571754455566,"wires":[]},{"id":"b4871885.73de28","type":"http request","z":"17778ec4.73ac01","name":"Zapier WebHook","method":"POST","ret":"txt","url":"https://hooks.zapier.com/hooks/catch/******/******","tls":"","x":489.5208435058594,"y":297.43060302734375,"wires":[["bf8ae0a3.36861"]]},{"id":"9847a39a.2fb9e","type":"function","z":"17778ec4.73ac01","name":"Random Generator","func":"var now = new Date();\nvar timestamp = now.getTime();\n\nmsg.payload = { \n    timestamp : timestamp,\n    //time : now.toLocaleString(),\n    time: now.getHours()+':'+now.getMinutes()+':'+now.getSeconds(),\n    temperature : Math.floor( (Math.random() * ((80 - 50) + 1)) + 50 ),\n    humidity :  Math.floor( (Math.random() * ((80 - 60) + 1)) + 60 ),\n    uvIndex : Math.floor( (Math.random() * ((12 - 0) + 1)) + 1 )\n};\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":282.5278015136719,"y":335.06254959106445,"wires":[["d9ebf886.77ed28","b4871885.73de28"]]},{"id":"23d50003.ab1cd","type":"inject","z":"17778ec4.73ac01","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":123.5173568725586,"y":282.5278072357178,"wires":[["9847a39a.2fb9e"]]},{"id":"bf8ae0a3.36861","type":"debug","z":"17778ec4.73ac01","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":694.5243072509766,"y":318.41320037841797,"wires":[]}]